<div class="container">
  <h2>Mante in Estinzione</h2>
  <div class="mante-section">
    <div *ngFor="let mante of manteInEstinzione" class="mante-card">
      <img [src]="mante.immagine" alt="{{ mante.nome_specie }}" class="mante-image">
      <div class="mante-details">
        <h3>{{ mante.nome_specie }} {{ mante.nome_razza }}</h3>
        <p><strong>Estinzione:</strong> {{ mante.estinzione ? 'Sì' : 'No' }}</p>
        <p><strong>Età:</strong> {{ mante.eta }} anni</p>
        <p><strong>Colore:</strong> {{ mante.colore }}</p>
        <p><strong>Apertura alare:</strong> {{ mante.apertura_alare }} cm</p>
      </div>
    </div>
  </div>
<br>
  <h2>Mante Non in Estinzione</h2>
  <div class="mante-section">
    <div *ngFor="let mante of manteNonEstinzione" class="mante-card">
      <img [src]="mante.immagine" alt="{{ mante.nome_specie }}" class="mante-image">
      <div class="mante-details">
        <h3>{{ mante.nome_specie }} {{ mante.nome_razza }}</h3>
        <p><strong>Estinzione:</strong> {{ mante.estinzione ? 'Sì' : 'No' }}</p>
        <p><strong>Età:</strong> {{ mante.eta }} anni</p>
        <p><strong>Colore:</strong> {{ mante.colore }}</p>
        <p><strong>Apertura alare:</strong> {{ mante.apertura_alare }} cm</p>
      </div>
    </div>
  </div>
</div>
